- posts.each do |post|
    .container.justify-content-center.border.rounded.my-2.py-4{id: post.id}
        = link_to post.name,"/profile/#{post.name}" ,class: "fs-3 fw-bold"
        %p{class: "fs-4 text-break my-4", style: "line-height: 25px"}= post.message
        %p{class: "text-end"}= post.created_at
        - if post.isLike(user)
            = button_to "Unlike", "/unlike", params: {post_id: post.id, user_id: user}, class: "btn btn-primary"
        - else
            = button_to "Like", "/like", params: {post_id: post.id, user_id: user}, class: "btn btn-primary"
        %button.btn.btn-link.btn-sm.shadow-none.modal-btn{"data-modal": post.get_like_users.to_json}
            ="Like: #{post.get_like_users.size}"

.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "likeTitle", :tabindex => "-1", id: "like-modal"}
    .modal-dialog
        .modal-content
            .modal-header
                %h5#likeTitle.modal-title Like
                %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
            .modal-body
                %ul{id: "modal-list"}
            .modal-footer
                %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Close

:javascript  
    $(document).ready(function(){
        $(".modal-btn").click(function(){
            var myModal = new bootstrap.Modal(document.getElementById('like-modal'), {});
            myModal.show()
            arr = JSON.parse($(this).attr("data-modal"))
            $("#modal-list").empty()
            arr.forEach(element => $("#modal-list").append(`<li><a href="/profile/${element["name"]}">${element["name"]}</a></li>`))
        })
    })